[Unit]
Description=webapp

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/home/ec2-user/.nvm/versions/node/v16.19.1/bin/node /home/ec2-user/webapp/index.js
# Restart service after 10 seconds if node service crashes
RestartSec=10
Restart=always
Restart=on-failure
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp-server
User=ec2-user

# variables
Environment=PROD_SQL_USER=webapp
Environment=NODE_ENV=production
Environment=APP_PORT=3001
Environment=PROD_SQL_HOST=localhost
Environment=PROD_SQL_PASS=MyNewPass4!
Environment=PROD_SQL_DB=webapp
Environment=PROD_DB_DIALECT=mysql

[Install]
WantedBy=multi-user.target