[Unit]
Description=webapp

[Service]
# Start Service and Examples
ExecStart=/home/ec2-user/.nvm/versions/node/v16.19.1/bin/node /home/ec2-user/webapp/index.js
# Restart service after 10 seconds if node service crashes
RestartSec=10
Restart=always
Restart=on-failure
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp-server
# #### please, not root users
# RHEL/Fedora uses 'nobody'
# User=ec2-user

# variables
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=APP_PORT=3001
Environment=SQL_HOST=localhost
Environment=SQL_USER=mysql
Environment=SQL_PASS=password
Environment=SQL_DB=webapp
Environment=DB_DIALECT=mysql

[Install]
WantedBy=multi-user.target